<div class="class-container">
    <section class="header">
        <h2>{{name}}</h2>
        <p>{{{classDescription}}}</p>
    </section>

    {{#if properties}}
        {{>props}}
    {{/if}}

    {{#if methods}}
        {{>method}}
    {{/if}}

    {{#if events}}
        {{>events}}
    {{/if}}
</div>


